

/*************************
*******Header******
**************************/
.navbar {
  background: red;
  font-family: arial black;
}

.navbar-fixed-top .navbar-nav > .active > a,{
  background-color: blue;
  color: black;
}
/*********Search*****************/
.srch{
  position: absolute;
  background-color: #fff;
  margin-left: 60px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}
.boxsearch{
  position: absolute;
  margin-left: 90px;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border : none;
  font-family: arial;
}
.pcari{
  width: 30px;
  height: 30px;
}
.btncari{
  height: 30px;
  width: 30px;
}
.icari{
  height: 20px;
  width: 20px;
  margin-left: -2px;
}
.logo{
  height: 40px;
  width: 40px;
  background-color: transparent;
  margin-top: -10px;
  margin-left: 100px;
}

/*************************
*******Homepage******
**************************/
.homepage{
  margin-top: 70px;
  margin-bottom: 15px; 
  height: 1200px;
  background-color: grey;
}
