/*********Body*********/
body{
  background-color: blue;
}
/*******Header********/
.logo{
  height: 50px;
  width: 39px;
  background-color: blue;

}
.navbar {
  background: blue;
  height: 7%;
}
.navbar-nav{
  padding-top: 2px;
  font-family: arial;

  font-size: 11px;
}
.navbar-left{
  width: 15%;
}

/*********Search********/

.box-search{
  width: 140%;
  height: 55px;
  font-size: 15px;
  margin-top: 2px;
}
.input-search{
  width: 180px;
  height: 42px;

 
}
.btn-search{
  height: 48px;
  width: 55px;
  margin-left: 5px;


}
.pcari{
  height: 52px;
  width: 130%;
  padding-top: 15px;
  padding-left: 25px;
}
.be-cari{
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.af-cari{
  height: 22px;
  width: 22px;
  margin-top: 10px;
  margin-left: 10px;

  top: 15px;
}
.icari{
  height: 20px;
  width: 20px;
}

.btn-be-search{
  height: 52px;
  width: 55px;

  


}
.btn-be-search:hover {
  background-color: white
}

/*******Homepage******/

.homepage{
  padding-top: 70px;
  margin-bottom: 20px; 
  height: 1450px;
  background-color: orange;
}
/*******Top******/

/*******SlideShow******/
.imgSlide{
  height:350px; 
  width: 100%;
}

.slide-content{
  height: 30%;
  margin-left: -15%;
  margin-right: -15%;
  margin-bottom: -2%;
  background-color: black;  
  opacity: 0.9;
}

/*******Left******/

.sidebox-gamerelese{
  height: 350px;
  width:100%;
  background-color: blue
}
.sidebar-gamerelese{
  height: 40px;
  margin-top: 10px;
  background-color: red;

}
.sidebar-title{
  font-size: 15px;
  text-align: center;
  font-family: arial black;
  padding-top: 5px;
}
 
.sidebox-populararticles{
  height: 350px;
  width:100%;
  background-color: blue
}
.sidebar-populararticles{
  height: 40px;
  background-color: red;

}

/*******Right******/

.heading{
  width: 100%;
  height: 45px;
  margin-top: 10px;
  padding-left: 20px;
  background-color: grey;
}


.grid-news{
  padding-left: 2px;  
  border-radius: 5px;
}

.news{
  background-color: red;
  width: 100%;
}
.image-news{
  height: 100%;
  width: 100%;
}
.news-title{
  text-align: center;
  font-family: arial;
}
.news-content{
  font-family: calibri;
  font-size: 12px;
}
.read-more{
  height: 5%;
  text-align: right;
  font-family: arial black;
  font-size: 12px;
  background-color: blue;
  height: 50%;
}
.page-number{
   width: 100%;
  height: 45px;
  margin-top: 10px;
  padding-left: 20px;
  background-color: grey;
}