/*******Homepage******/

.homepage{
  margin-top: 10px;
  margin-bottom: 15px; 
  height: 1450px;
  background-color: transparent;
}
/*******Top******/
.col-lg-13{
  background:transparent;
}
/*******SlideShow******/
.imgSlide{
  height:350px; 
  width: 100%;
}


/*******Right******/

.col-lg-8{
  background-color: red;
  height: 1100px;
  padding-right: -40px; 

}
.col-md-3{
  background-color: transparent;
  height: 360px;
  
}
.news{
  width: 1000px;

}

.con-news{
  width: 220px;
  height: 330px;
  background-color: #232323;
}
